NODE_ENV=production

DB_HOST=localhost
DB_PORT=5432
DB_PASSWORD=CHANGE-ME!
DB_USERNAME=stinky-socks
DB_NAME=stinky-socks

BITBUCKET_API_URL=https://your.bitbucket.server/rest/api/1.0
BITBUCKET_USERNAME=your_bitbucket_username
BITBUCKET_PASSWORD=your_bitbucket_password

GITHUB_TOKEN=your_github_token