services:
  stinky-socks-importer:
    depends_on:
      - postgres
    build:
      context: ../
      dockerfile: packages/importer/Dockerfile
    image: stinky-socks-importer
    pull_policy: never
    container_name: "stinky-socks-importer"
    restart: on-failure
    command: npm run start
    networks:
      - stinky_socks_network
    environment:
      - NODE_ENV=production
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_USERNAME=${DB_USERNAME}
      - DB_NAME=${DB_NAME}

      # Use this section to import metrics from the public Github repos
      - GITHUB_PUBLIC_API_TOKENS=${GITHUB_PUBLIC_API_TOKENS}

      # Use this section to import metrics from the Gitlab on-prem installation
      - GITLAB_INSTANCE_URL=${GITLAB_INSTANCE_URL}
      - GITLAB_API_TOKEN=${GITLAB_API_TOKEN}
      - GITLAB_NAMESPACES_SEARCH=${GITLAB_NAMESPACES_SEARCH}

      # Use this section to import metrics from the Github enterprise repos not available publicly
      - STINKY_SOCKS_GITHUB_APP_ID=${STINKY_SOCKS_GITHUB_APP_ID}
      - STINKY_SOCKS_GITHUB_APP_PRIVATE_KEY=${STINKY_SOCKS_GITHUB_APP_PRIVATE_KEY}
